<?php
function __autoload($className) {
    $className = str_replace( "..", "", $className );
    $FilePath = realpath('./classes');
    require_once($FilePath . '/' . $className. '.php');
}
?>
<!DOCTYPE html>
<html>
    <head>
        <title>Calculation APR | Home page</title>
        <meta charset="UTF-8">
        <style>
            .nowrap {
                white-space: nowrap;
            }
            .lbl{
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <h4>SAMPLE APR CALCULATION</h4>

        <?php
            $loanAmount = 300;
            $interestRate = 6.5;
            $originationDate = "1/25/2018";
            $paymentSchedule = array(
                '1' => '2018-02-02',
                '2' => '2018-02-16',
                '3' => '2018-03-02',
                '4' => '2018-03-16',
                '5' => '2018-03-30',
                '6' => '2018-04-13',
                '7' => '2018-04-27',
                '8' => '2018-05-11',
                '9' => '2018-05-25',
                '10' => '2018-06-08',
                '11' => '2018-06-22',
                '12' => '2018-07-06',
            );
            $interestPeriods = 26;
            $unitPeriod = 14;

            $loanSample = new Loan($loanAmount, $interestRate, $originationDate, $paymentSchedule, $interestPeriods, $unitPeriod);
            $paymentAmount = $loanSample->getPaymentAmount();
            $extraDaysAndWholePeriod = $loanSample->getExtraDaysAndWholePeriod();
            $wholePeriodsSample = $extraDaysAndWholePeriod['whole_periods'];
            $extraDaysSample = $extraDaysAndWholePeriod['extra_days'];
        ?>

        <div class="nowrap">
            <label class="lbl">Loan Amount:</label>
            <span>
                <?php echo '$' . $loanSample->getLoanAmount(); ?>
            </span>
        </div>
        <div class="nowrap">
            <label class="lbl">Interest Rate:</label>
            <span>
                <?php echo $loanSample->getInterestRate() * 100 . '%'; ?>
            </span>
        </div>
        &nbsp;
        <div class="nowrap">
            <label class="lbl">Origination Date:</label>
            <span>
                <?php echo $loanSample->getOriginationDate(); ?>
            </span>
        </div>
        <table cellspacing="5" cellpadding="5" border="1" width="50%">
            <tr>
                <th>Payment#</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Interest Period</th>
                <th>Extra Days</th>
            </tr>
            <?php
                foreach ($loanSample->getPaymentSchedule() as $key => $paymentDate)
                {
                    echo '<tr>';

                    echo '<td>'. $key .'</td>';
                    echo '<td>'. round($paymentAmount, 2) .'</td>';
                    echo '<td>'. $paymentDate .'</td>';
                    echo '<td>'. $wholePeriodsSample[$key] .'</td>';
                    echo '<td>'. $extraDaysSample[$key] .'</td>';

                    echo '</tr>';
                }
            ?>
        </table>
        <div class="nowrap">
            <label class="lbl" style="color: green;">Calculated APR:</label>
            <span style="color: green;">
                <?php
                    echo $loanSample->getApr() * 100 . '%';
                ?>
            </span>
        </div>

        <br />

        <h4>TEST APR CALCULATION</h4>

        <?php
            $loanAmount = 900;
            $interestRate = 7.95;
            $originationDate = "1/17/2018";
            $paymentSchedule = array(
                '1' => '2018-02-02',
                '2' => '2018-02-16',
                '3' => '2018-03-02',
                '4' => '2018-03-16',
                '5' => '2018-03-30',
                '6' => '2018-04-13',
                '7' => '2018-04-27',
                '8' => '2018-05-11',
                '9' => '2018-05-25',
                '10' => '2018-06-08',
                '11' => '2018-06-22',
                '12' => '2018-07-06',
            );
            $interestPeriods = 26;
            $unitPeriod = 14;

            $loanTest = new Loan($loanAmount, $interestRate, $originationDate, $paymentSchedule, $interestPeriods, $unitPeriod);
            $paymentAmount = $loanTest->getPaymentAmount();
            $extraDaysAndWholePeriod = $loanTest->getExtraDaysAndWholePeriod();
            $wholePeriodsTest = $extraDaysAndWholePeriod['whole_periods'];
            $extraDaysTest = $extraDaysAndWholePeriod['extra_days'];

        ?>

        <div class="nowrap">
            <label class="lbl">Loan Amount:</label>
            <span>
                <?php echo '$' . $loanTest->getLoanAmount(); ?>
            </span>
        </div>
        <div class="nowrap">
            <label class="lbl">Interest Rate:</label>
            <span>
                <?php echo $loanTest->getInterestRate() * 100 . '%'; ?>
            </span>
        </div>
        &nbsp;
        <div class="nowrap">
            <label class="lbl">Origination Date:</label>
            <span>
                <?php echo $loanTest->getOriginationDate(); ?>
            </span>
        </div>

        <table cellspacing="5" cellpadding="5" border="1" width="50%">
            <tr>
                <th>Payment#</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Interest Period</th>
                <th>Extra Days</th>
            </tr>
            <?php
                foreach ($loanTest->getPaymentSchedule() as $key => $paymentDate)
                {
                    echo '<tr>';

                    echo '<td>'. $key .'</td>';
                    echo '<td>'. round($paymentAmount, 2) .'</td>';
                    echo '<td>'. $paymentDate .'</td>';
                    echo '<td>'. $wholePeriodsTest[$key] .'</td>';
                    echo '<td>'. $extraDaysTest[$key] .'</td>';

                    echo '</tr>';
                }
            ?>
        </table>
        <div class="nowrap">
            <label class="lbl" style="color: green;">Calculated APR:</label>
            <span style="color: green;">
                <?php
                    echo $loanTest->getApr() * 100 . '%';
                ?>
            </span>
        </div>
    </body>
</html>